.section-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  .line {
    width: 1px;
    height: 80px;
    background-color: var(--color-slate-300);
  }

  .label {
    padding: 16px 19px;
    border-radius: 50%;
    border: 1px solid var(--color-slate-300);
    font-weight: bold;
    background: white;
  }
}