.first-section {
  text-align: center;
  padding-top: var(--space-800);
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: var(--space-200);
    grid-row-gap: var(--space-200);
    padding: 0 var(--space-400) var(--space-800);

    img {
      max-width: 100%;
      height: auto;
      border-radius: var(--space-200);
    }
  }

  .image1 { grid-area: 1 / 1 / 2 / 2; }
  .image2 { grid-area: 1 / 2 / 2 / 3; }
  .image3 { grid-area: 2 / 1 / 3 / 2; }
  .image4 { grid-area: 2 / 2 / 3 / 3; }

  .tagline {
    margin-bottom: var(--space-200);
    text-transform: uppercase;
    font-weight: bold;
  }

  .title {
    max-width: 310px;
    margin: 0 auto var(--space-400);
  }

  .description {
    max-width: 310px;
    margin: 0 auto var(--space-800);
  }
}


@media (min-width: 768px) {
  .first-section {
    .images {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: var(--space-300);
      grid-row-gap: 0px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .image1 { grid-area: 1 / 1 / 2 / 2; }
    .image2 { grid-area: 1 / 2 / 2 / 3; }
    .image3 { grid-area: 1 / 3 / 2 / 4; }
    .image4 { grid-area: 1 / 4 / 2 / 5; }

    .title {
      max-width: 450px;
    }

    .description {
      max-width: 500px;
    }
  }
}

@media (min-width: 1024px) {
  .first-section {
    .images {
      grid-column-gap: var(--space-400);
    }
  }
}