* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

:root {
  /* Font */
  --font-primary: 'Barlow Semi Condensed', sans-serif;

  /* Font weights */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Font sizes */
  --size-big-xxl: 50px;
  --size-big-xl: 40px;
  --size-big-l: 36px;
  --size-big-m: 32px;

  --size-xx-large: 28px;
  --size-x-large: 24px;
  --size-large: 20px;
  --size-medium: 16px;

  --size-small: 12px;
  --size-x-small: 8px;
  --size-xx-small: 4px;

  /* Colors — Primary */
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);

  /* Colors — Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);

  /* Spacing scale */
  --space-big-xxl: 50px;
  --space-big-xl: 40px;
  --space-big-m: 30px;

  --space-xl: 24px;
  --space-lg: 20px;
  --space-md: 16px;
  --space-sm: 12px;

  --space-xs: 8px;
  --space-xxs: 4px;
  --space-2: 2px;
  --space-1: 1px;

  /* Border radius scale */
  --radius-xl: 20px;
  --radius-lg: 12px;
  --radius-md: 8px;
  --radius-sm: 4px;
  --radius-round: 50%;
}